.cb{
    padding-top: 85px;
    padding-bottom: 100px;
}
.catalogo{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: flexbox;
    padding: 5px;
}
.lanches{
    position: relative;
    width: 290px;
    height: 350px;
    border-radius: 5px;
    display: inline-flex;
    background-color: #fff7e8;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 9.1px;
}
.lanches img{
    width: 290px;
    height: 200px;
    border-radius: 5px;
    display: block;
    margin-bottom: 5px;
    position: absolute;
}
.lanches h1{
    position: absolute;
    color: gray;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
    top: 220px;
}
.lanches h2{
    position: absolute;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
    top: 240px;
}
.lanches p{
    position: absolute;
    display: block;
    top: 263px;
}
.lanches button{
    position: absolute;
    display: block;
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #cc7722;
    color: white;
    transition: 0.5s;
}
.lanches button:hover{
    transition: 0.3s;
    background-color: #a7621f;
    cursor: pointer;
}