.navbar{
    background-color: #a7621f;
    height: 80px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: fixed;
    z-index: 10;
    width: 100%;
}
.navbar-div{
    position: relative;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.navbar-home{
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    top: 15px;
    color: white;
    font-weight: bold;
    font-size: 50px;
}
.navbar-pesquisa{
    margin-right: 10px;
    right: 200px;
    top: 23px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.navbar-lista{
    position: absolute;
    right: 5px;
    top: 25px;
}
.navbar-carrinho{
    display: inline;
    margin-right: 8px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
}
.navbar-carrinho:hover{
    transition: 0.3s;
    background-color: #a67851;
}
.navbar-conta{
    display: inline;
    padding: 10px;
    border-radius: 5px;
}
.navbar-conta:hover{
    transition: 0.3s;
    background-color: #a67851;
}
.navbar a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

