.navbar{
    background-color: rgba(0, 0, 0, 0.582);
    padding-bottom: 80px;
}
.navbar-div{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.navbar-home{
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    top: 28px;
    color: white;
    font-weight: bold;
    font-size: large;
}
.navbar-pesquisa{
    position: absolute;
    display: inline;
    right: 230px;
    top: 26px;
}
.navbar-lista{
    position: absolute;
    right: 0;
    top: 28px;
}
.navbar-lista li{
    display: inline;
    padding-left: 15px;
}
.navbar-lista li :hover{
    color: darkblue;
    text-decoration: underline;
    transition: 0.4s;
}
.navbar-lista li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
